VERIFY_TOKEN=
API_TOKEN=
PORT=3000
BUSINESS_PHONE=
API_VERSION=v22.0
AI_MODEL=gpt-3.5-turbo
AI_API_URL=https://api.openai.com/v1/chat/completions
AI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
BASE_URL=https://graph.facebook.com/
